# Q1.

In [100]:
import selenium
from selenium import webdriver
import pandas as pd
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings("ignore")
import time   #use to stop search engine for few seconds

In [197]:
driver = webdriver.Chrome()
# opening the webpage on automated browser
driver.get("https://www.shine.com/")

In [199]:
#Trying to Close the pop-up window
try:
    search = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div/div/button")
    search.click()
except:
    pass

In [205]:
# Entering Designation and location as per questoin
#Job title
desig = driver.find_element(By.CLASS_NAME,"searchBarInput")
desig.send_keys("Data Analyst")

In [202]:
#search1

search = driver.find_element(By.XPATH, "/html/body/div[1]/header[2]/div[2]/div[1]/span")
search.click()

In [206]:
#Job title1
desig = driver.find_element(By.CLASS_NAME,"form-control")
c=desig.send_keys("Data Analyst")

In [209]:
#Selecting the text from listed bar
search = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]")
search.click()

In [210]:
#location input 
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [211]:
#search
search = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [212]:
#creating empty list to each attribute
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [213]:
#2.Trying to Close the pop-up window
try:
    search = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[2]/div/div/button")
    search.click()
except:
    pass

In [214]:
#Scraping the Job title
# Locate elements by tag name
elements_with_tag_name = driver.find_elements(By.TAG_NAME, 'h2')

for i in elements_with_tag_name[0:10]:
    title=i.text
    job_title.append(title)

In [218]:
job_title

['Project Coordinator (Data Analyst)',
 'Data Analyst - Java/Python',
 'Hiring For Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst Urgent Recruiment',
 'How relevant did you find the job search results ?',
 'Apply Now a Data Analyst',
 'Apply Now Data Analyst',
 'Needed for Data Analyst']

In [222]:
#Scraping the company name
#company_tags = driver.find_element(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')
span_elements = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')

# Extract text from each <span> element
span_texts = [span.text for span in span_elements]

# Print the extracted text
for text in span_texts[0:10]:
    company_name.append(text)

In [225]:
#Scraping the Job location & Experience

location_experience = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]')

# Initialize a list to store experience & job locations
experience_locations = []

# Iterate over the location elements
for element in location_experience[0:10]:
    exloc = element.text
    experience_locations.append(exloc)

# Print the list of job locations
print(experience_locations)

['2 to 4 Yrs\nBangalore', '3 to 6 Yrs\nBangalore', '0 to 4 Yrs\nBangalore\n+14', '2 to 5 Yrs\nBangalore', '7 to 12 Yrs\nBangalore\n+9', '0 to 4 Yrs\nBangalore\n+14', '1 to 2 Yrs\nBangalore', '1 to 2 Yrs\nBangalore', '1 to 2 Yrs\nBangalore', '1 to 2 Yrs\nBangalore']

In [226]:
# Spliting experience & location into different lists

for item in experience_locations:
    parts = item.split('\n')
    experience = parts[0]
    location = parts[1]
    experience_required.append(experience)
    job_location.append(location)

print("Experiences:")
print(experience_required)

print("\nLocations:")
print(job_location)

Experiences:
['2 to 4 Yrs', '3 to 6 Yrs', '0 to 4 Yrs', '2 to 5 Yrs', '7 to 12 Yrs', '0 to 4 Yrs', '1 to 2 Yrs', '1 to 2 Yrs', '1 to 2 Yrs', '1 to 2 Yrs']

Locations:
['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [227]:
print(len(job_title),
      len(job_location),
      len(company_name),
      len(experience_required))

10 10 10 10

In [228]:

#Creating a DataFrame & converting into csv file     
df =pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company name': company_name, 'Experience Required':experience_required})
df.to_csv('Q1.csv')
df

,Job Title,Job Location,Company name,Experience Required
0,Project Coordinator (Data Analyst),Bangalore,futures and careers,2 to 4 Yrs
1,Data Analyst - Java/Python,Bangalore,boyen haddin consulting and technol...,3 to 6 Yrs
2,Hiring For Data Analyst,Bangalore,kavya staffing solutions,0 to 4 Yrs
3,Senior Data Analyst,Bangalore,ara resources private limited,2 to 5 Yrs
4,Data Analyst,Bangalore,ashutosh sabhashankar chaturvedi hi...,7 to 12 Yrs
5,Data Analyst Urgent Recruiment,Bangalore,divya interprises,0 to 4 Yrs
6,How relevant did you find the job search resul...,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
7,Apply Now a Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
8,Apply Now Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs
9,Needed for Data Analyst,Bangalore,deuglo infosystem private limited,1 to 2 Yrs

# Q2.

In [119]:
driver = webdriver.Chrome()
# opening the webpage on automated browser
driver.get("https://www.shine.com/")

In [120]:
#Trying to Close the pop-up window
try:
    search = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div/div/button")
    search.click()
except:
    pass

In [127]:
# Entering Designation and location as per questoin
#Job title
desig = driver.find_element(By.CLASS_NAME,"searchBarInput")
desig.send_keys("Data Scientist")

In [123]:
#search1
search = driver.find_element(By.XPATH, "/html/body/div[1]/header[2]/div[2]/div[1]/span")
search.click()

In [130]:
#Job title1
desig = driver.find_element(By.CLASS_NAME,"form-control")
desig.send_keys("Data Scientist")

In [130]:
#Job title1
desig = driver.find_element(By.CLASS_NAME,"form-control")
desig.send_keys("Data Scientist")

In [131]:
#Selecting the text from listed bar
search = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/ul/li[4]")
search.click()

In [132]:
#location input 
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [133]:
#search for results
search = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [134]:
#creating empty list to each attribute
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [135]:
#2.Trying to Close the pop-up window
try:
    search = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[2]/div/div/button")
    search.click()
except:
    pass

In [136]:
#Scraping the Job title
# Locate elements by tag name
elements_with_tag_name = driver.find_elements(By.TAG_NAME, 'h2')

for i in elements_with_tag_name[0:10]:
    title=i.text
    job_title.append(title)

In [137]:
#Scraping the Job location & Experience

location_experience = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]')

# Initialize a list to store experience & job locations
experience_locations = []

# Iterate over the location elements
for element in location_elements[0:10]:
    exloc = element.text
    experience_locations.append(exloc)

# Print the list of job locations
print(experience_locations)

['2 to 4 Yrs\nBangalore', '3 to 6 Yrs\nBangalore', '0 to 4 Yrs\nBangalore\n+14', '2 to 5 Yrs\nBangalore', '7 to 12 Yrs\nBangalore\n+9', '0 to 4 Yrs\nBangalore\n+14', '1 to 2 Yrs\nBangalore', '1 to 2 Yrs\nBangalore', '1 to 2 Yrs\nBangalore', '1 to 2 Yrs\nBangalore']

In [138]:
# Spliting experience & location into different lists

for item in experience_locations:
    parts = item.split('\n')
    experience = parts[0]
    location = parts[1]
    experience_required.append(experience)
    job_location.append(location)

print("Experiences:")
print(experience_required)

print("\nLocations:")
print(job_location)

Experiences:
['2 to 4 Yrs', '3 to 6 Yrs', '0 to 4 Yrs', '2 to 5 Yrs', '7 to 12 Yrs', '0 to 4 Yrs', '1 to 2 Yrs', '1 to 2 Yrs', '1 to 2 Yrs', '1 to 2 Yrs']

Locations:
['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

In [139]:
#Scraping the company name
#company_tags = driver.find_element(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')
span_elements = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')

# Extract text from each <span> element
span_texts = [span.text for span in span_elements]

# Print the extracted text
for text in span_texts[0:10]:
    company_name.append(text)

In [140]:
#checking for the s length
print(len(job_title),
      len(job_location),
      len(company_name),
      len(experience_required))

10 10 10 10

In [142]:

#Creating a DataFrame & converting into csv file     
df =pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company name': company_name})
df.to_csv('Q2.csv')
df

,Job Title,Job Location,Company name
0,Hiring For Data Scientist,Bangalore,kavya staffing solutions
1,Hiring For Data Scientist,Bangalore,kavya staffing solutions
2,Data Scientist,Bangalore,skyleaf consultants
3,Data Scientist Urgent Recruitment,Bangalore,divya interprises
4,Required for Data Scientist,Bangalore,deuglo infosystem private limited
5,Urgently need Data Scientist,Bangalore,deuglo infosystem private limited
6,How relevant did you find the job search resul...,Bangalore,seven geomax consulting private lim...
7,Data scientist Bangalore,Bangalore,employberry consultants hiring for ...
8,Data Scientist,Bangalore,niharika enterprises
9,Hiring For Data Scientist,Bangalore,deuglo infosystem private limited

# Q3.

In [247]:
driver = webdriver.Chrome()
# opening the webpage on automated browser
driver.get("https://www.shine.com/")

In [248]:
# Adding a sleep to give time for results to load
time.sleep(10)

#Trying to Close the pop-up window
try:
    search = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div/div/button")
    search.click()
except:
    pass

In [249]:
# Entering Designation and location as per questoin
#Job title
desig = driver.find_element(By.CLASS_NAME,"searchBarInput")
desig.send_keys("Data Scientist")

In [250]:
#search1
search = driver.find_element(By.XPATH, "/html/body/div[1]/header[2]/div[2]/div[1]/span")
search.click()

In [251]:
#Job title1
desig = driver.find_element(By.CLASS_NAME,"form-control")
desig.send_keys("Data Scientist")

In [252]:
#location input 
location = driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Delhi")

In [253]:
#search for results
search = driver.find_element(By.XPATH, "/html/body/div[1]/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [255]:
#2.Trying to Close the pop-up window
time.sleep(10)
try:
    search = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[2]/div/div/button")
    search.click()
except:
    pass

In [257]:
# Applying salary filter 3-6 lakhs
salary_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div/ul/li[3]/button")
salary_filter.click()

In [258]:
#Setting the filter
filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[3]/span/label")
filter.click()

In [259]:
results = driver.find_element(By.XPATH, "/html/body/div[1]/div[1]/div[4]/div/div[1]/div/div[2]/div[2]/div/div/div/div[4]/button[2]")
results.click()

In [260]:
#Since every filter is set as per the given question, Now we can extract the data.

#creating empty list to each attribute
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [269]:
experience_required=[]
job_location=[]

In [261]:
#Scraping the Job title
# Locate elements by tag name
elements_with_tag_name = driver.find_elements(By.TAG_NAME, 'h2')

for i in elements_with_tag_name[0:10]:
    title=i.text
    job_title.append(title)

In [270]:
#Scraping the Job location & Experience

loc_exp= driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]')

# Initialize a list to store experience & job locations
experience_locations = []

# Iterate over the location elements
for element in loc_exp[0:10]:
    exloc = element.text
    experience_locations.append(exloc)

# Print the list of job locations
print(experience_locations)

['0 to 3 Yrs\nDelhi\n+6', '3 to 6 Yrs\nDelhi', '0 to 1 Yr\nDelhi\n+6', '0 to 2 Yrs\nGurugram', '3 to 5 Yrs\nDelhi\n+4', '2 to 3 Yrs\nDelhi', '2 to 3 Yrs\nDelhi', '1 to 2 Yrs\nNoida', '1 to 2 Yrs\nNoida', '2 to 6 Yrs\nNoida']

In [271]:
# Spliting experience & location into different lists

for item in experience_locations:
    parts = item.split('\n')
    experience = parts[0]
    location = parts[1]
    experience_required.append(experience)
    job_location.append(location)

print("Experiences:")
print(experience_required)

print("\nLocations:")
print(job_location)

Experiences:
['0 to 3 Yrs', '3 to 6 Yrs', '0 to 1 Yr', '0 to 2 Yrs', '3 to 5 Yrs', '2 to 3 Yrs', '2 to 3 Yrs', '1 to 2 Yrs', '1 to 2 Yrs', '2 to 6 Yrs']

Locations:
['Delhi', 'Delhi', 'Delhi', 'Gurugram', 'Delhi', 'Delhi', 'Delhi', 'Noida', 'Noida', 'Noida']

In [273]:

#Scraping the company name
#company_tags = driver.find_element(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')
span_elements = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_cName__mYnow"]/span')

# Extract text from each <span> element
span_texts = [span.text for span in span_elements]

# Print the extracted text
for text in span_texts[0:10]:
    company_name.append(text)

In [274]:
    
    
#checking for the same length
print(len(job_title),
      len(job_location),
      len(company_name),
      len(experience_required))

10 10 10 10

In [275]:

#Creating a DataFrame & converting into csv file     
df =pd.DataFrame({'Job Title':job_title, 'Job Location':job_location, 'Company name': company_name, 'Experience Required':experience_required})
df.to_csv('Q3.csv')
df

,Job Title,Job Location,Company name,Experience Required
0,Data Scientist,Delhi,quiscon biotech,0 to 3 Yrs
1,Data Scientist,Delhi,skyleaf consultants,3 to 6 Yrs
2,Data Scientist,Delhi,quiscon biotech,0 to 1 Yr
3,Data Scientist,Gurugram,pro career ignition hr consultancy ...,0 to 2 Yrs
4,Data Scientist,Delhi,acme services private limited,3 to 5 Yrs
5,for _GCP Data Engineer/Lead/Architect- Delhi,Delhi,nina s hr consultancy,2 to 3 Yrs
6,How relevant did you find the job search resul...,Delhi,nina s hr consultancy,2 to 3 Yrs
7,for _GCP Data Engineer/Lead/Architect- Delhi,Noida,ntt global networks,1 to 2 Yrs
8,Modeling Analyst,Noida,ntt global networks,1 to 2 Yrs
9,Risk Analyst-QE,Noida,ntt global networks,2 to 6 Yrs

# Q4

In [276]:
driver = webdriver.Chrome()
# opening the webpage on automated browser
driver.get("https://www.flipkart.com/")                

#Trying to Close the Login pop-up window
try:
    search = driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
    search.click()
except:
    pass

In [277]:
#waiting to clear login icon
time.sleep(3)

# Entering the product name and search for it
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("sunglasses")

#Searching in the search_bar
search = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [278]:
# Initialize lists to store scraped data
brands = []
descriptions = []
prices = []
discounts = []

In [279]:
# Scrape data from multiple pages until you get 100 sunglasses
num_products = 100
products_scraped = 0

while products_scraped < num_products:
    # Find all the products on the page
    products = driver.find_elements(By.CLASS_NAME, '_2WkVRV')
    
    for product in products:
        brand = product.text
        brands.append(brand)
        
        # Find the parent (container) element of the product listing card
        # Navigate up two levels to reach the grandparent element that holds more details
        parent = product.find_element(By.XPATH, "./../../..")
        
        description = parent.find_element(By.CLASS_NAME, 'IRpwTa').text
        descriptions.append(description)
        
        price = parent.find_element(By.CLASS_NAME, '_30jeq3').text
        prices.append(price)
        
        try:
            discount = parent.find_element(By.CLASS_NAME, '_3Ay6Sb').text
        except:
            discount = "No Discount"
        discounts.append(discount)
        
        products_scraped += 1
        if products_scraped >= num_products:
            break
    
    # Go to the next page if not the last page
    if products_scraped < num_products:
        next_button = driver.find_element(By.CLASS_NAME, '_1LKTO3')
        next_button.click()
        time.sleep(2)  # Give time for the page to load

In [280]:
# Create a DataFrame from the scraped data & converting into csv file 
data = {
    'Brand': brands,
    'Description': descriptions,
    'Price': prices,
    'Discount': discounts
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Save DataFrame to a CSV file
df.to_csv('sunglasses_data.csv', index=False)

            Brand                                        Description Price  \
0   VINCENT CHASE  UV Protection, Polarized Over-sized Sunglasses...  ₹899
1       ROYAL SON  UV Protection Rectangular, Retro Square Sungla...  ₹497
2            SRPM             UV Protection Wayfarer Sunglasses (50)  ₹204
3          PIRASO           UV Protection Clubmaster Sunglasses (54)  ₹239
4       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...  ₹179
..            ...                                                ...   ...
95           BKGE  Polarized, UV Protection Retro Square Sunglass...  ₹197
96   Singco India          UV Protection Rectangular Sunglasses (55)  ₹502
97  VINCENT CHASE     Polarized, UV Protection Round Sunglasses (51)  ₹965
98     SmartGlass       UV Protection Aviator Sunglasses (Free Size)  ₹429
99        ROADWAY  UV Protection Wayfarer, Sports, Spectacle , Re...  ₹294

   Discount
0   55% off
1   66% off
2   84% off
3   85% off
4   70% off
..      ...
95  80% off
96  74% off
97  43% off
98  57% off
99  77% off

[100 rows x 4 columns]

# Q5
# Since the given "link" is not working I will be going through General search for "iPhone-11 (Black,128GB)" & use it.

In [282]:

#link = https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART&q=iphone+11+black&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=dbe2a4cd-5295-4d62-8278-55ad0b5eeb32.MOBFWQ6BKRYBP5X8.SEARCH&ppt=sp&ppn=sp&ssid=f2hcmebni80000001693141679655&qH=77772a3e6366cdf8

In [284]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

# Initialize the WebDriver
driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/apple-iphone-11-black-128-gb/p/itm8244e8d955aba?pid=MOBFWQ6BKRYBP5X8&lid=LSTMOBFWQ6BKRYBP5X8HS0EXP&marketplace=FLIPKART&q=iphone+11+black&store=tyy%2F4io&srno=s_1_1&otracker=search&otracker1=search&fm=Search&iid=dbe2a4cd-5295-4d62-8278-55ad0b5eeb32.MOBFWQ6BKRYBP5X8.SEARCH&ppt=sp&ppn=sp&ssid=f2hcmebni80000001693141679655&qH=77772a3e6366cdf8')

#waiting to load the page
time.sleep(2)

#Trying to Close the Login pop-up window

try:
    search = driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
    search.click()
except:
    pass

# Wait for the "All 11391 reviews" link to be clickable
all_reviews_link = driver.find_element(By.XPATH, '//div[@class="_3UAT2v _16PBlm"]//span[contains(text(), "All 11391 reviews")]')
all_reviews_link.click()

# Initialize lists to store scraped data
ratings = []
review_summaries = []
full_reviews = []

In [285]:
# Scrape data from the review elements
num_reviews = 100
while len(ratings) < num_reviews:
    review_elements = driver.find_elements(By.CLASS_NAME, '_2-N8zT')

    for review in review_elements:
        if len(ratings) >= num_reviews:
            break

        parent = review.find_element(By.XPATH, "./../../..")

        try:
            rating = parent.find_element(By.CLASS_NAME, '_3LWZlK._1BLPMq').text
        except:
            rating = 'No Rating'
        ratings.append(rating)

        review_summary = review.text
        review_summaries.append(review_summary)

        # Store the full review text before clicking "Read more"
        try:
            full_review_text = parent.find_element(By.CLASS_NAME, 't-ZTKy').text
        except:
            full_review_text = 'No Full Review'

        try:
            read_more = parent.find_element(By.CLASS_NAME, '_1BWGvX')
            read_more.click()

            # Wait for the full review element to load
            time.sleep(1)
            
            # Get the full review text after clicking "Read more"
            try:
                full_review = parent.find_element(By.CLASS_NAME, 't-ZTKy').text
            except:
                full_review = full_review_text  # Use the stored text if not found

        except:
            full_review = full_review_text  # Use the stored text if "Read more" is not found

        full_reviews.append(full_review)
    
    # Go to the next page if there are more reviews
    try:
        next_button = driver.find_element(By.CLASS_NAME, '_3fVaIS')
        next_button.click()
    except:
        break
    
    # Give time for the page to load
    time.sleep(2)

# Create a DataFrame from the scraped data
data = {
    'Rating': ratings,
    'Review Summary': review_summaries,
    'Full Review': full_reviews
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

  Rating       Review Summary  \
0      5       Classy product
1      5       Classy product
2      5             Terrific
3      5            Wonderful
4      5     Perfect product!
5      5    Worth every penny
6      5  Best in the market!
7      5            Just wow!
8      5            Fabulous!
9      5        Great product

                                         Full Review
0                                       Photos super
1  Camera is awesome\nBest battery backup\nA perf...
2                                     Very very good
3                             This is amazing at all
4                                         V Good all
5  Feeling awesome after getting the delivery of ...
6                                        Good Camera
7                                  Perfect Product!!
8                    Super🔥 and good performance 👌❤️
9                                     Purple is best

# Q6

In [287]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

# Initialize the WebDriver
driver = webdriver.Chrome()
driver.get('https://www.flipkart.com/')

#waiting to load the page
time.sleep(3)

#Trying to Close the Login pop-up window

try:
    search = driver.find_element(By.XPATH, "/html/body/div[2]/div/div/button")
    search.click()
except:
    pass

In [288]:

# Search for "sneakers"
#waiting to clear login icon
time.sleep(3)

# Entering the product name and search for it
search_product = driver.find_element(By.CLASS_NAME,"_3704LK")
search_product.send_keys("sneakers")

#Searching in the search_bar
search = driver.find_element(By.XPATH, "/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [289]:
# Initialize lists to store scraped data
brands = []
descriptions = []
prices = []

In [290]:
# Scrape data for the first 100 sneakers
num_sneakers = 100
products_scrapped = 0
while products_scrapped < num_sneakers:
    products = driver.find_elements(By.CLASS_NAME, '_2WkVRV')
    descriptions_elements = driver.find_elements(By.CLASS_NAME, 'IRpwTa')
    prices_elements = driver.find_elements(By.CLASS_NAME, '_30jeq3')
    
    for product, description_element, price_element in zip(products, descriptions_elements, prices_elements):
        if products_scrapped >= num_sneakers:
            break  # Exit the loop if 100 products have been scraped
        
        brand = product.text
        description = description_element.text
        price = price_element.text
        
        brands.append(brand)
        descriptions.append(description)
        prices.append(price)
        
        products_scrapped += 1  # Increment the count of products scraped
    
    # Go to the next page if there are more sneakers
    try:
        next_button = driver.find_element(By.CLASS_NAME, '_1LKTO3')
        next_button.click()
        
        # Give time for the page to load
        time.sleep(2)
        
    except:
        break

In [291]:

# Create a DataFrame from the scraped data
data = {
    'Brand': brands,
    'Product Description': descriptions,
    'Price': prices
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Save DataFrame to a CSV file
df.to_csv('sneakers_data.csv', index=False)

                    Brand                                Product Description  \
0                  BRUTON               Modern Trendy Shoes Sneakers For Men
1                Nobelite                                   Sneakers For Men
2                    PUMA             Puma Rebound LayUp SL Sneakers For Men
3                    aadi  Synthetic Leather |Lightweight|Comfort|Summer|...
4                Schuster                                   Sneakers For Men
..                    ...                                                ...
95                  asian                                   Sneakers For Men
96  HRX by Hrithik Roshan                      Club Culture Sneakers For Men
97                   PUMA                             Caven Sneakers For Men
98                   PUMA                         Hustle V2 Sneakers For Men
99                 Layasa                                   Sneakers For Men

     Price
0     ₹379
1     ₹299
2   ₹3,999
3     ₹398
4     ₹549
..     ...
95    ₹622
96  ₹1,047
97  ₹2,079
98  ₹1,299
99    ₹399

[100 rows x 3 columns]

# Q7.

In [294]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd
import time

# Initialize the WebDriver
driver = webdriver.Chrome()
driver.get('https://www.amazon.in/')

# Search for "Laptop"
search_input = driver.find_element(By.ID, 'twotabsearchtextbox')
search_input.send_keys('Laptop')

search_button = driver.find_element(By.ID, 'nav-search-submit-button')
search_button.click()

In [301]:
# Apply filter for "Intel Core i7" CPU Type
proc_filter = driver.find_element(By.XPATH, "/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[7]/span[13]/li/span/a/div/label/i")
proc_filter.click()

In [302]:

# Initialize lists to store scraped data
titles = []
ratings = []
prices = []

In [303]:
# Scrape data for the first 10 laptops
num_laptops = 10
laptops_scrapped = 0
while laptops_scrapped < num_laptops:
    laptop_elements = driver.find_elements(By.XPATH, '//div[@data-asin and @data-component-type="s-search-result"]')
    
    for laptop_element in laptop_elements:
        if laptops_scrapped >= num_laptops:
            break  # Exit the loop if 10 laptops have been scraped
        
        title_element = laptop_element.find_element(By.XPATH, './/h2/a')
        title = title_element.text
        titles.append(title)
        
        try:
            rating_element = laptop_element.find_element(By.XPATH, './/span[@class="a-icon-alt"]')
            rating = rating_element.get_attribute('innerHTML')
        except:
            rating = 'No Rating'
        ratings.append(rating)
        
        # Locate the price element using the provided tag structure
        price_elements = laptop_element.find_elements(By.XPATH, './/span[@class="a-price"]/span[@class="a-offscreen"]')
        price = price_elements[0].text if price_elements else 'Price not found'
        prices.append(price)
        
        laptops_scrapped += 1  # Increment the count of laptops scraped
    
    # Go to the next page if there are more laptops
    try:
        next_button = driver.find_element(By.CLASS_NAME, 's-pagination-next')
        next_button.click()
        
        # Give time for the page to load
        time.sleep(2)
        
    except:
        break

In [304]:
# Create a DataFrame from the scraped data
data = {
    'Title': titles,
    'Ratings': ratings,
    'Price': prices
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Save DataFrame to a CSV file
df.to_csv('laptops_data.csv', index=False)

                                               Title             Ratings Price
0  ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...  4.0 out of 5 stars
1  MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...  4.5 out of 5 stars
2  Dell Inspiron 5430 13th Gen Laptop, Intel i7-1...  3.3 out of 5 stars
3  ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...           No Rating
4  ASUS TUF Gaming F15 (2023) 90WHr Battery, Inte...  4.4 out of 5 stars
5  Dell Vostro 5630 13th Gen Laptop,Intel i7-1355...  4.6 out of 5 stars
6  MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...           No Rating
7  ASUS Creator Series Vivobook 14X OLED (2023), ...           No Rating
8  HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...  4.3 out of 5 stars
9  HP Victus Gaming Latest 12th Gen Intel Core i7...  4.1 out of 5 stars

# Q8.

In [305]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

# Initialize the WebDriver
driver = webdriver.Chrome()

# Open the webpage
driver.get('https://www.azquotes.com/')

# Click on Top Quotes
top_quotes_button = driver.find_element(By.XPATH, '//a[contains(text(), "Top Quotes")]')
top_quotes_button.click()

In [306]:
# Initialize lists to store data
quotes = []
authors = []
types = []

In [307]:
# Scroll to load more quotes
for _ in range(5):  # You can adjust the number of scrolls as needed
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    time.sleep(2)

# Initialize lists to store data
quotes = []
authors = []
types = []

# Scrape data for the top 1000 quotes
quote_elements = driver.find_elements(By.CLASS_NAME, 'title')
author_elements = driver.find_elements(By.XPATH, '//div[@class="author"]/a')
type_elements = driver.find_elements(By.XPATH, '//div[@class="tags"]/a')

for quote_element, author_element, type_element in zip(quote_elements, author_elements, type_elements):
    quote = quote_element.text
    quotes.append(quote)
    
    author = author_element.text
    authors.append(author)
    
    quote_type = type_element.text
    types.append(quote_type)

In [308]:
# Create a DataFrame from the scraped data
data = {
    'Quote': quotes,
    'Author': authors,
    'Type': types
}

df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Save DataFrame to a CSV file
df.to_csv('top_quotes.csv', index=False)

                                                Quote                Author  \
0                                            Authors:        Michael Porter
1   The essence of strategy is choosing what not t...            Golda Meir
2   One cannot and must not try to erase the past ...    Theodore Roosevelt
3   Patriotism means to stand by the country. It d...        Nelson Mandela
4   Death is something inevitable. When a man has ...          Erma Bombeck
..                                                ...                   ...
95  An optimist stays up until midnight to see the...    Hunter S. Thompson
96     When the going gets weird, the weird turn pro.       Corrie Ten Boom
97  When a train goes through a tunnel and it gets...            Dalai Lama
98  If you think you are too small to make a diffe...         Mother Teresa
99  God doesn't require us to succeed, he only req...  Norman Vincent Peale

                 Type
0             Essence
1        Deep Thought
2   Transcendentalism
3         Inspiration
4                Past
..                ...
95            Success
96               Love
97      Inspirational
98               Life
99              Music

[100 rows x 3 columns]

# Q9.

In [309]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

# Initialize the WebDriver
driver = webdriver.Chrome()

# Open the webpage
driver.get('https://www.jagranjosh.com/')

In [313]:
# Click on the GK option
gk_option = driver.find_element(By.XPATH, '//a[contains(text(), "GK")]')
gk_option.click()


# Click on the List of all Prime Ministers of India
prime_ministers_link = driver.find_element(By.XPATH, '//a[contains(text(), "List of all Prime Ministers of India")]')
prime_ministers_link.click()

In [314]:

# Initialize lists to store data
names = []
born_dead = []
term_of_office = []
remarks = []

In [315]:
# Scrape data for the list of former Prime Ministers
prime_minister_elements = driver.find_elements(By.XPATH, '//div[@class="content"]/ul/li')

for prime_minister_element in prime_minister_elements:
    details = prime_minister_element.text.split('\n')
    
    name = details[0]
    names.append(name)
    
    born_dead_info = details[1]
    born_dead.append(born_dead_info)
    
    term_info = details[2]
    term_of_office.append(term_info)
    
    remark = details[3]
    remarks.append(remark)

In [316]:
# Create a DataFrame from the scraped data
data = {
    'Name': names,
    'Born-Dead': born_dead,
    'Term of Office': term_of_office,
    'Remarks': remarks
}


df = pd.DataFrame(data)

# Print the DataFrame
print(df)

# Save DataFrame to a CSV file
df.to_csv('prime_ministers.csv', index=False)

Empty DataFrame
Columns: [Name, Born-Dead, Term of Office, Remarks]
Index: []

# Q10.

In [319]:
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
import time

# Initialize the WebDriver
driver = webdriver.Chrome()

# Open the webpage
driver.get('https://www.motor1.com/')

In [320]:
# Find and interact with the search bar
search_bar = driver.find_element(By.ID, "search_input")  # Using By.ID to locate the element
search_bar.send_keys("50 most expensive cars")  # Input the search query
search_bar.send_keys(Keys.RETURN)  # Press Enter to perform the search

In [321]:
#Click on the '50 most expencive cars in the world' blog
search = driver.find_element(By.XPATH, "/html/body/div[10]/div[9]/div/div[1]/div/div/div[2]/div/div[1]/h3/a")
search.click()

In [ ]:

# Find the element containing the article content
article_content = driver.find_element(By.CLASS_NAME, "article-content")

# Find car names and prices within the article content
car_names = article_content.find_elements(By.TAG_NAME, "h2")
car_prices = article_content.find_elements(By.CLASS_NAME, "price")

data = []
for name, price in zip(car_names, car_prices):
    car_name = name.text
    car_price = price.text
    data.append({"Car Name": car_name, "Price": car_price})

In [ ]:
#  Create a DataFrame from the scraped data
df = pd.DataFrame(data)

# Display the DataFrame
print(df)