# Web Scraping Assignment-4
## C Soma Sekhar

## Batch: DS2307

In [143]:
import selenium
from bs4 import BeautifulSoup

from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import pandas as pd
import time
import warnings
warnings.filterwarnings("ignore")
import requests
import re
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager

## 1. Scrape the details of most viewed videos on YouTube from Wikipedia.
## Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos 

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [38]:
# Define the URL of the Wikipedia page
url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

# Send an HTTP GET request
response = requests.get(url)

# Parse the HTML content with BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')


# Find the table with the specified class
table = soup.find('table', {'class': 'wikitable'})

# pulling out tables
df = pd.read_html(str(table))[0]

# Removing columns that are not required 
df = df.drop(['Note', 'Unnamed: 6'], axis =1)

#Renaming 
df.rename(columns = {'No.': 'Rank', 'Video name':'Name', 'Uploader':'Artist','Publication date':'Upload Date'}, inplace = True)

# cleaning for name extraction 
lis = df['Name'].tolist()
names = [item.split('[')[0].strip('"') for item in lis]
df['Name'] = names

# Save the DataFrame to a CSV file
df.to_csv('top_youtube_videos.csv', index=False)

df

,Rank,Name,Artist,Views (billions),Upload Date
0,1.,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,13.29,"June 17, 2016"
1,2.,Despacito,Luis Fonsi,8.25,"January 12, 2017"
2,3.,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,6.78,"October 8, 2016"
3,4.,Bath Song,Cocomelon - Nursery Rhymes,6.38,"May 2, 2018"
4,5.,Shape of You,Ed Sheeran,6.07,"January 30, 2017"
5,6.,See You Again,Wiz Khalifa,6.01,"April 6, 2015"
6,7.,Wheels on the Bus,Cocomelon - Nursery Rhymes,5.53,"May 24, 2018"
7,8.,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,5.47,"March 6, 2014"
8,9.,Uptown Funk,Mark Ronson,5.02,"November 19, 2014"
9,10.,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.96,"February 27, 2018"
10,11.,Gangnam Style,officialpsy,4.88,"July 15, 2012"
11,12.,Masha and the Bear – Recipe for Disaster,Get Movies,4.56,"January 31, 2012"
12,13.,Dame Tu Cosita,Ultra Records,4.43,"April 5, 2018"
13,14.,Axel F,Crazy Frog,4.04,"June 16, 2009"
14,15.,Sugar,Maroon 5,3.93,"January 14, 2015"
15,16.,Counting Stars,OneRepublic,3.86,"May 31, 2013"
16,17.,Roar,Katy Perry,3.86,"September 5, 2013"
17,18.,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,3.76,"June 25, 2018"
18,19.,Waka Waka (This Time for Africa),Shakira,3.71,"June 4, 2010"
19,20.,Sorry,Justin Bieber,3.70,"October 22, 2015"
20,21.,Lakdi Ki Kathi,Jingle Toons,3.67,"June 14, 2018"
21,22.,Thinking Out Loud,Ed Sheeran,3.65,"October 7, 2014"
22,23.,Dark Horse,Katy Perry,3.58,"February 20, 2014"
23,24.,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.54,"January 26, 2018"
24,25.,Perfect,Ed Sheeran,3.53,"November 9, 2017"
25,26.,Faded,Alan Walker,3.51,"December 3, 2015"
26,27.,Let Her Go,Passenger,3.50,"July 25, 2012"
27,28.,Girls Like You,Maroon 5,3.47,"May 31, 2018"
28,29.,Lean On,Major Lazer Official,3.45,"March 22, 2015"
29,30.,Bailando,Enrique Iglesias,3.45,"April 11, 2014"
30,"As of September 2, 2023","As of September 2, 2023","As of September 2, 2023","As of September 2, 2023","As of September 2, 2023"

## 2.Scrape the details team India’s international fixtures from bcci.tv.
## Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1 ODI)
B) Series
C) Place
D) Date
E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [36]:
# opening chrome driver
driver = webdriver.Chrome()
url2 = 'https://www.bcci.tv/'
#url_2t = 'https://www.bcci.tv/international/fixtures'
driver.get(url2)
time.sleep(1)

In [37]:
# Find and click the link using XPath
link = driver.find_element(By.XPATH,"//a[@data-event_context='header' and @data-element_text='INTERNATIONAL']")
link.click()

In [46]:
# Expanding more fixtuers 
try:
    while True:
        # Find and click the button using XPath
        more_fixtures_button = driver.find_element(By.XPATH, "//button[@class='match-btn btn-red d-flex align-items-center justify-content-center mx-auto mt-3']")
        more_fixtures_button.click()
except:pass

In [53]:
# Initialize an empty list to store Match_title
Match_title = []

# Define the number of retries
max_retries = 3

for retry in range(max_retries):
    try:
        # Find the elements again within the loop
        tm = driver.find_elements(By.XPATH, '//h5[@class="match-tournament-name ng-binding"]')
        
        # Iterate through the elements and append the text to the list
        for i in tm:
            if i.text is None:
                Match_title.append("--")
            else:
                Match_title.append(i.text)
        
        # If successful, break out of the loop
        break
    except StaleElementReferenceException:
        # Handle the StaleElementReferenceException by refreshing the page
        driver.refresh()
        
   #Print the length and content of Match_title
print(len(Match_title), Match_title)

51 ['AUSTRALIA TOUR OF INDIA 2023-24', '19TH ASIAN GAMES HANGZHOU 2022', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'ICC MENS WORLD CUP 2023 WARM-UP MATCHES', '19TH ASIAN GAMES HANGZHOU 2022', 'ICC MENS WORLD CUP 2023 WARM-UP MATCHES', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'ICC MENS WORLD CUP 2023', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'AUSTRALIA TOUR OF INDIA 2023-24', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'AUSTRALIA TOUR OF INDIA 2023-24', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'QUADRANGULAR MENS U19 ONE DAY SERIES', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'AUSTRALIA TOUR OF INDIA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'INDIA TOUR OF SOUTH AFRICA 2023-24', 'AFGHANISTAN TOUR OF INDIA 2023-24', 'AFGHANISTAN TOUR OF INDIA 2023-24', 'AFGHANISTAN TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24', 'ENGLAND TOUR OF INDIA 2023-24']

In [54]:
# Initialize an empty list to store Date
Date = []
# Define the number of retries
max_retries = 3

for retry in range(max_retries):
    try:
        # Find the elements again within the loop
        d = driver.find_elements(By.XPATH, '//div[@class="match-dates ng-binding"]')
        
        # Iterate through the elements and append the text to the list
        for i in d:
            if i.text is None:
                Date.append("--")
            else:
                Date.append(i.text)
        
        # If successful, break out of the loop
        break
    except StaleElementReferenceException:
        # Handle the StaleElementReferenceException by refreshing the page
        driver.refresh()
print(len(Date), Date)

51 ['22 SEP 2023', '24 SEP 2023', '24 SEP 2023', '27 SEP 2023', '30 SEP 2023', '3 OCT 2023', '3 OCT 2023', '8 OCT 2023', '11 OCT 2023', '14 OCT 2023', '19 OCT 2023', '22 OCT 2023', '29 OCT 2023', '2 NOV 2023', '5 NOV 2023', '12 NOV 2023', '13 NOV 2023', '13 NOV 2023', '15 NOV 2023', '15 NOV 2023', '17 NOV 2023', '17 NOV 2023', '20 NOV 2023', '20 NOV 2023', '22 NOV 2023', '22 NOV 2023', '23 NOV 2023', '24 NOV 2023', '24 NOV 2023', '26 NOV 2023', '27 NOV 2023', '27 NOV 2023', '28 NOV 2023', '1 DEC 2023', '3 DEC 2023', '10 DEC 2023', '12 DEC 2023', '14 DEC 2023', '17 DEC 2023', '19 DEC 2023', '21 DEC 2023', '26 DEC 2023', '3 JAN 2024', '11 JAN 2024', '14 JAN 2024', '17 JAN 2024', '25 JAN 2024', '2 FEB 2024', '15 FEB 2024', '23 FEB 2024', '7 MAR 2024']

In [55]:
# Initialize an empty list to store Time
Time = []
# Define the number of retries
max_retries = 3

for retry in range(max_retries):
    try:
        # Find the elements again within the loop
        t = driver.find_elements(By.XPATH, '//div[@class="match-time no-margin ng-binding"]')
        
        # Iterate through the elements and append the text to the list
        for i in t:
            if i.text is None:
                Time.append("--")
            else:
                Time.append(i.text)
        
        # If successful, break out of the loop
        break
    except StaleElementReferenceException:
        # Handle the StaleElementReferenceException by refreshing the page
        driver.refresh()
print(len(Time), Time)

51 ['1:30 PM IST', '6:30 AM IST', '1:30 PM IST', '1:30 PM IST', '2:00 PM IST', '6:30 AM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '9:00 AM IST', '7:00 PM IST', '9:00 AM IST', '9:00 AM IST', '7:00 PM IST', '9:00 AM IST', '9:00 AM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '9:30 PM IST', '9:30 PM IST', '9:30 PM IST', '2:00 PM IST', '2:00 PM IST', '2:00 PM IST', '1:30 PM IST', '1:30 PM IST', '7:00 PM IST', '7:00 PM IST', '7:00 PM IST', '9:30 AM IST', '9:30 AM IST', '9:30 AM IST', '9:30 AM IST', '9:30 AM IST']

In [56]:
# Initialize an empty list to store Series
Series = []
# Define the number of retries
max_retries = 3

for retry in range(max_retries):
    try:
        # Find the elements again within the loop
        s = driver.find_elements(By.XPATH, '//span[@class="matchOrderText ng-binding ng-scope"]')
        
        # Iterate through the elements and append the text to the list
        for i in s:
            if i.text is None:
                Series.append("--")
            else:
                Series.append(i.text)
        
        # If successful, break out of the loop
        break
    except StaleElementReferenceException:
        # Handle the StaleElementReferenceException by refreshing the page
        driver.refresh()
print(len(Series), Series)

51 ['1st ODI -', 'Semi Final 1 -', '2nd ODI -', '3rd ODI -', '1st ODI -', 'Quarter Final 1 -', '2nd ODI -', '1st ODI -', '2nd ODI -', '3rd ODI -', '4th ODI -', '5th ODI -', '6th ODI -', '7th ODI -', '8th ODI -', '9th ODI -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', 'Youth List-A Match -', '1st T20I -', 'Youth List-A Match -', 'Youth List-A Match -', '2nd T20I -', '3rd Place -', 'Final -', '3rd T20I -', '4th T20I -', '5th T20I -', '1st T20I -', '2nd T20I -', '3rd T20I -', '1st ODI -', '2nd ODI -', '3rd ODI -', '1st Test -', '2nd Test -', '1st T20I -', '2nd T20I -', '3rd T20I -', '1st Test -', '2nd Test -', '3rd Test -', '4th Test -', '5th Test -']

In [57]:
# Initialize an empty list to store Series
Place = []
# Define the number of retries
max_retries = 3

for retry in range(max_retries):
    
    
    try:
        # Find the elements again within the loop
        p = driver.find_elements(By.XPATH, '//span[@class="ng-binding"]')
        
        # Iterate through the elements and append the text to the list
        for i in p:
            if i.text is None:
                Place.append("--")
            else:
                Place.append(i.text)
        
        # If successful, break out of the loop
        break
    except StaleElementReferenceException:
        # Handle the StaleElementReferenceException by refreshing the page
        driver.refresh()
        
print(len(Place), Place)

51 ['Mohali', 'Hangzhou', 'Indore', 'Rajkot', 'Guwahati', 'Hangzhou', 'Thiruvananthapuram', 'Chennai', 'Delhi', 'Ahmedabad', 'Pune', 'Dharamsala', 'Lucknow', 'Mumbai', 'Kolkata', 'Bengaluru', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Vijayawada', 'Visakhapatnam', 'Vijayawada', 'Vijayawada', 'Thiruvananthapuram', 'Vijayawada', 'Vijayawada', 'Guwahati', 'Nagpur', 'Hyderabad', 'Durban', 'Gqeberha', 'Johannesburg', 'Johannesburg', 'Gqeberha', 'Paarl', 'Centurion', 'Cape Town', 'Mohali', 'Indore', 'Bengaluru', 'Hyderabad', 'Visakhapatnam', 'Rajkot', 'Ranchi', 'Dharamsala']

In [58]:
# Create a DataFrame
df2 = pd.DataFrame({
    'Match_title': Match_title,
    'Series': Series,
    'Place': Place,
    'Date': Date,
    'Time': Time
})

# Convert the DataFrame to a CSV file
df2.to_csv('matches.csv', index=False)
df2

,Match_title,Series,Place,Date,Time
0,AUSTRALIA TOUR OF INDIA 2023-24,1st ODI -,Mohali,22 SEP 2023,1:30 PM IST
1,19TH ASIAN GAMES HANGZHOU 2022,Semi Final 1 -,Hangzhou,24 SEP 2023,6:30 AM IST
2,AUSTRALIA TOUR OF INDIA 2023-24,2nd ODI -,Indore,24 SEP 2023,1:30 PM IST
3,AUSTRALIA TOUR OF INDIA 2023-24,3rd ODI -,Rajkot,27 SEP 2023,1:30 PM IST
4,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,1st ODI -,Guwahati,30 SEP 2023,2:00 PM IST
5,19TH ASIAN GAMES HANGZHOU 2022,Quarter Final 1 -,Hangzhou,3 OCT 2023,6:30 AM IST
6,ICC MENS WORLD CUP 2023 WARM-UP MATCHES,2nd ODI -,Thiruvananthapuram,3 OCT 2023,2:00 PM IST
7,ICC MENS WORLD CUP 2023,1st ODI -,Chennai,8 OCT 2023,2:00 PM IST
8,ICC MENS WORLD CUP 2023,2nd ODI -,Delhi,11 OCT 2023,2:00 PM IST
9,ICC MENS WORLD CUP 2023,3rd ODI -,Ahmedabad,14 OCT 2023,2:00 PM IST
10,ICC MENS WORLD CUP 2023,4th ODI -,Pune,19 OCT 2023,2:00 PM IST
11,ICC MENS WORLD CUP 2023,5th ODI -,Dharamsala,22 OCT 2023,2:00 PM IST
12,ICC MENS WORLD CUP 2023,6th ODI -,Lucknow,29 OCT 2023,2:00 PM IST
13,ICC MENS WORLD CUP 2023,7th ODI -,Mumbai,2 NOV 2023,2:00 PM IST
14,ICC MENS WORLD CUP 2023,8th ODI -,Kolkata,5 NOV 2023,2:00 PM IST
15,ICC MENS WORLD CUP 2023,9th ODI -,Bengaluru,12 NOV 2023,2:00 PM IST
16,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,13 NOV 2023,9:00 AM IST
17,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,13 NOV 2023,9:00 AM IST
18,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,15 NOV 2023,9:00 AM IST
19,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,15 NOV 2023,9:00 AM IST
20,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,17 NOV 2023,9:00 AM IST
21,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,17 NOV 2023,9:00 AM IST
22,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,20 NOV 2023,9:00 AM IST
23,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,20 NOV 2023,9:00 AM IST
24,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,22 NOV 2023,9:00 AM IST
25,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,22 NOV 2023,9:00 AM IST
26,AUSTRALIA TOUR OF INDIA 2023-24,1st T20I -,Visakhapatnam,23 NOV 2023,7:00 PM IST
27,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,24 NOV 2023,9:00 AM IST
28,QUADRANGULAR MENS U19 ONE DAY SERIES,Youth List-A Match -,Vijayawada,24 NOV 2023,9:00 AM IST
29,AUSTRALIA TOUR OF INDIA 2023-24,2nd T20I -,Thiruvananthapuram,26 NOV 2023,7:00 PM IST
30,QUADRANGULAR MENS U19 ONE DAY SERIES,3rd Place -,Vijayawada,27 NOV 2023,9:00 AM IST
31,QUADRANGULAR MENS U19 ONE DAY SERIES,Final -,Vijayawada,27 NOV 2023,9:00 AM IST
32,AUSTRALIA TOUR OF INDIA 2023-24,3rd T20I -,Guwahati,28 NOV 2023,7:00 PM IST
33,AUSTRALIA TOUR OF INDIA 2023-24,4th T20I -,Nagpur,1 DEC 2023,7:00 PM IST
34,AUSTRALIA TOUR OF INDIA 2023-24,5th T20I -,Hyderabad,3 DEC 2023,7:00 PM IST
35,INDIA TOUR OF SOUTH AFRICA 2023-24,1st T20I -,Durban,10 DEC 2023,9:30 PM IST
36,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd T20I -,Gqeberha,12 DEC 2023,9:30 PM IST
37,INDIA TOUR OF SOUTH AFRICA 2023-24,3rd T20I -,Johannesburg,14 DEC 2023,9:30 PM IST
38,INDIA TOUR OF SOUTH AFRICA 2023-24,1st ODI -,Johannesburg,17 DEC 2023,2:00 PM IST
39,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd ODI -,Gqeberha,19 DEC 2023,2:00 PM IST
40,INDIA TOUR OF SOUTH AFRICA 2023-24,3rd ODI -,Paarl,21 DEC 2023,2:00 PM IST
41,INDIA TOUR OF SOUTH AFRICA 2023-24,1st Test -,Centurion,26 DEC 2023,1:30 PM IST
42,INDIA TOUR OF SOUTH AFRICA 2023-24,2nd Test -,Cape Town,3 JAN 2024,1:30 PM IST
43,AFGHANISTAN TOUR OF INDIA 2023-24,1st T20I -,Mohali,11 JAN 2024,7:00 PM IST
44,AFGHANISTAN TOUR OF INDIA 2023-24,2nd T20I -,Indore,14 JAN 2024,7:00 PM IST
45,AFGHANISTAN TOUR OF INDIA 2023-24,3rd T20I -,Bengaluru,17 JAN 2024,7:00 PM IST
46,ENGLAND TOUR OF INDIA 2023-24,1st Test -,Hyderabad,25 JAN 2024,9:30 AM IST
47,ENGLAND TOUR OF INDIA 2023-24,2nd Test -,Visakhapatnam,2 FEB 2024,9:30 AM IST
48,ENGLAND TOUR OF INDIA 2023-24,3rd Test -,Rajkot,15 FEB 2024,9:30 AM IST
49,ENGLAND TOUR OF INDIA 2023-24,4th Test -,Ranchi,23 FEB 2024,9:30 AM IST
50,ENGLAND TOUR OF INDIA 2023-24,5th Test -,Dharamsala,7 MAR 2024,9:30 AM IST

## 3. Scrape the details of State-wise GDP of India from statisticstime.com.
## Url = http://statisticstimes.com/
    
You have to find following details:
A) Rank
B) State
C) GSDP(18-19)- at current prices
D) GSDP(19-20)- at current prices
E) Share(18-19)
F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [70]:
# opening chrome driver
driver = webdriver.Chrome()
url3 = 'https://statisticstimes.com/'
driver.get(url3)
time.sleep(1)

In [71]:
button = driver.find_element(By.XPATH, "//button[contains(text(), 'Economy')]")
button.click()

india_link = driver.find_element(By.LINK_TEXT, "India")
india_link.click()

time.sleep(2)

In [72]:
# Find and click the link using XPath
link_xpath = "//a[contains(@href, 'india/indian-states-gdp.php') and contains(text(), 'GDP of Indian states')]"
link = driver.find_element(By.XPATH,link_xpath)
link.click()

In [75]:
Rank=[]
State =[]
GDP=[]
GSDP_Current=[]
GSDP_Previous=[]
Share=[]

In [76]:
#scraping the Rank 
r=driver.find_elements(By.XPATH,"//td[@class='data1']")
for i in r:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
print(len(Rank),Rank)

68 ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '']

In [78]:
#scraping the State 
St=driver.find_elements(By.XPATH, "//td[@class='name']")
for i in St:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
print(len(State),State)

68 ['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat', 'Karnataka', 'West Bengal', 'Rajasthan', 'Andhra Pradesh', 'Telangana', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Chhattisgarh', 'Jharkhand', 'Uttarakhand', 'Jammu & Kashmir', 'Himachal Pradesh', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Sikkim', 'Manipur', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India', 'Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Karnataka', 'Gujarat', 'West Bengal', 'Rajasthan', 'Telangana', 'Andhra Pradesh', 'Madhya Pradesh', 'Kerala', 'Delhi', 'Haryana', 'Bihar', 'Punjab', 'Odisha', 'Assam', 'Jharkhand', 'Chhattisgarh', 'Uttarakhand', 'Himachal Pradesh', 'Jammu & Kashmir', 'Goa', 'Tripura', 'Chandigarh', 'Puducherry', 'Meghalaya', 'Manipur', 'Sikkim', 'Nagaland', 'Arunachal Pradesh', 'Mizoram', 'Andaman & Nicobar Islands', 'India']

In [80]:
#scraping the GDP 
gdp=driver.find_elements(By.XPATH,"//*[@id='table_id']/tbody/tr/td[6]")
for i in gdp:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
print(len(GDP),GDP)

33 ['399.921', '247.629', '240.726', '228.290', '226.806', '165.556', '143.179', '131.083', '130.791', '122.977', '118.733', '117.703', '111.519', '80.562', '79.957', '74.098', '47.982', '46.187', '45.145', '37.351', '23.690', '23.369', '11.115', '7.571', '6.397', '5.230', '5.086', '4.363', '4.233', '4.144', '3.737', '3.385', '-']

In [81]:
#scraping the Share 
shr=driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[5]")
for i in shr:
    if i.text is None :
        Share.append("--") 
    else:
        Share.append(i.text)
print(len(Share),Share)

33 ['13.94%', '8.63%', '8.39%', '7.96%', '7.91%', '5.77%', '4.99%', '4.57%', '4.56%', '4.29%', '4.14%', '4.10%', '3.89%', '2.81%', '2.79%', '2.58%', '1.67%', '1.61%', '1.57%', '1.30%', '0.83%', '0.81%', '0.39%', '0.26%', '0.22%', '0.18%', '0.18%', '0.15%', '0.15%', '0.14%', '0.13%', '0.12%', '-']

In [82]:
#scraping the GSDP_Current(18-19)
shr=driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[4]")
for i in shr:
    if i.text is None :
        GSDP_Current.append("--") 
    else:
        GSDP_Current.append(i.text)
print(len(GSDP_Current),GSDP_Current)

33 ['2,632,792', '1,630,208', '1,584,764', '1,502,899', '1,493,127', '1,089,898', '942,586', '862,957', '861,031', '809,592', '781,653', '774,870', '734,163', '530,363', '526,376', '487,805', '315,881', '304,063', '297,204', '245,895', '155,956', '153,845', '73,170', '49,845', '42,114', '34,433', '33,481', '28,723', '27,870', '27,283', '24,603', '22,287', '-']

In [88]:
#scraping the GSDP_Previous (19-20)
shr=driver.find_elements(By.XPATH, "//*[@id='table_id']/tbody/tr/td[3]")
for i in shr:
    if i.text is None :
        GSDP_Previous.append("--") 
    else:
        GSDP_Previous.append(i.text)
print(len(GSDP_Previous),GSDP_Previous)

33 ['-', '1,845,853', '1,687,818', '-', '1,631,977', '1,253,832', '1,020,989', '972,782', '969,604', '906,672', '-', '856,112', '831,610', '611,804', '574,760', '521,275', '-', '329,180', '328,598', '-', '-', '165,472', '80,449', '55,984', '-', '38,253', '36,572', '32,496', '31,790', '-', '-', '26,503', '-']

In [93]:

data = {
    'Rank': Rank[:33],
    'State': State[:33],
    'Share In GDP': Share[:33],
    'GDP of State': GDP[:33],
    'GSDP_Current(18-19)': GSDP_Current[:33],
    'GSDP_Current(19-20)': GSDP_Previous[:33]
}

State_GDP = pd.DataFrame(data)

State_GDP.to_csv('State_GDP.csv', index=False)
State_GDP

,Rank,State,Share In GDP,GDP of State,GSDP_Current(18-19),GSDP_Current(19-20)
0,1,Maharashtra,13.94%,399.921,"2,632,792",-
1,2,Tamil Nadu,8.63%,247.629,"1,630,208","1,845,853"
2,3,Uttar Pradesh,8.39%,240.726,"1,584,764","1,687,818"
3,4,Gujarat,7.96%,228.290,"1,502,899",-
4,5,Karnataka,7.91%,226.806,"1,493,127","1,631,977"
5,6,West Bengal,5.77%,165.556,"1,089,898","1,253,832"
6,7,Rajasthan,4.99%,143.179,"942,586","1,020,989"
7,8,Andhra Pradesh,4.57%,131.083,"862,957","972,782"
8,9,Telangana,4.56%,130.791,"861,031","969,604"
9,10,Madhya Pradesh,4.29%,122.977,"809,592","906,672"
10,11,Kerala,4.14%,118.733,"781,653",-
11,12,Delhi,4.10%,117.703,"774,870","856,112"
12,13,Haryana,3.89%,111.519,"734,163","831,610"
13,14,Bihar,2.81%,80.562,"530,363","611,804"
14,15,Punjab,2.79%,79.957,"526,376","574,760"
15,16,Odisha,2.58%,74.098,"487,805","521,275"
16,17,Assam,1.67%,47.982,"315,881",-
17,18,Chhattisgarh,1.61%,46.187,"304,063","329,180"
18,19,Jharkhand,1.57%,45.145,"297,204","328,598"
19,20,Uttarakhand,1.30%,37.351,"245,895",-
20,21,Jammu & Kashmir,0.83%,23.690,"155,956",-
21,22,Himachal Pradesh,0.81%,23.369,"153,845","165,472"
22,23,Goa,0.39%,11.115,"73,170","80,449"
23,24,Tripura,0.26%,7.571,"49,845","55,984"
24,25,Chandigarh,0.22%,6.397,"42,114",-
25,26,Puducherry,0.18%,5.230,"34,433","38,253"
26,27,Meghalaya,0.18%,5.086,"33,481","36,572"
27,28,Sikkim,0.15%,4.363,"28,723","32,496"
28,29,Manipur,0.15%,4.233,"27,870","31,790"
29,30,Nagaland,0.14%,4.144,"27,283",-
30,31,Arunachal Pradesh,0.13%,3.737,"24,603",-
31,32,Mizoram,0.12%,3.385,"22,287","26,503"
32,33,Andaman & Nicobar Islands,-,-,-,-

# 4. Scrape the details of trending repositories on Github.com.
## Url = https://github.com/

You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count
D) Language used

Note: - From the home page you have to click on the trending option from Explore menu through code.

In [94]:
# opening chrome driver
driver = webdriver.Chrome()
url4 = 'https://github.com/'
driver.get(url4)
time.sleep(1)

# Navigating to trending page
# Find and click the button using XPath
button = driver.find_element(By.XPATH, "//button[contains(text(), 'Open Source')]")
button.click()
# Find and click the "Trending" link by its text content
trending_link = driver.find_element(By.LINK_TEXT, "Trending")
trending_link.click()

In [16]:
# Initialize empty lists to store data
Repository_title = []
Repository_description = []
Contributors_count = []
Language = []

In [17]:
# Locate and iterate through the repository elements
repository_elements = driver.find_elements(By.XPATH, "//article[@class='Box-row']")
for repo in repository_elements:
    
    #Title
    title_element = repo.find_element(By.XPATH, './/h2[@class="h3 lh-condensed"]')
        


    # Append data to respective lists
    Repository_title.append(title_element.text.strip())
   

    #Language
    try:
        language_element = repo.find_element(By.XPATH, './/span[@class="d-inline-block ml-0 mr-3"]')
    except:
        language_element = None
        
    if language_element:
        Language.append(language_element.text.strip())
    else:
        Language.append('NA')

In [ ]:
#Description
# Locate and iterate through the repository elements
repository_elements = driver.find_elements(By.XPATH, "//article[@class='Box-row']")
for repo in repository_elements:

    try:
        desc = repo.find_element(By.XPATH, '//p[@class="col-9 color-fg-muted my-1 pr-4"]')
    except:
        desc = None
    
    if desc:
        Repository_description.append(language_element.text.strip())
    else:
        Repository_description.append('NA')

In [11]:
#Contributors count 
# Find all repository elements
repository_elements = driver.find_elements(By.XPATH, "//article[@class='Box-row']")

# Initialize a list to store contributor counts
contributor_counts = []

for repo_element in repository_elements:
    try:
        # Locate the contributor count element
        contributor_element = repo_element.find_element(By.XPATH, ".//span[contains(text(), 'Built by')]")

        # Find all occurrences of class "d-inline-block" under "Built by"
        d_inline_block_elements = contributor_element.find_elements(By.CLASS_NAME, "d-inline-block")
        
        # Count the total occurrences
        total_count = len(d_inline_block_elements)
        
        # Append the total count to the list
        contributor_counts.append(total_count)
    
    except NoSuchElementException:
        # Handle the case where "Built by" or contributor count is missing
        contributor_counts.append(None)

# Print the list of contributor counts
print(contributor_counts)

[5, 5, 2, 5, 5, 5, 4, 5, 2, 5, 5, 5, 5, 2, 3, 5, 5, 5, 5, 2, 2, 5, 5, 5, 5]

In [12]:
len(contributor_counts)

25

In [14]:

# Create a DataFrame
df4 = pd.DataFrame({
    'Repository_title': Repository_title,
    'Contributors_count': contributor_counts,
    'Language': Language
})

#
# Print the DataFrame
df4

                       Repository_title  Contributors_count          Language
0                   opentofu / opentofu                   5                Go
1              ProjectUnifree / unifree                   5            Python
2    williamyang1991 / Rerender_A_Video                   2  Jupyter Notebook
3               PowerShell / PowerShell                   5                C#
4   CorentinJ / Real-Time-Voice-Cloning                   5            Python
5                   mastodon / mastodon                   5              Ruby
6                   NExT-GPT / NExT-GPT                   4            Python
7       WooooDyy / LLM-Agent-Paper-List                   5                NA
8              daveshap / ACE_Framework                   2                NA
9                        coqui-ai / TTS                   5            Python
10                    makeplane / plane                   5        TypeScript
11                nolimits4web / swiper                   5        JavaScript
12                     basecamp / kamal                   5              Ruby
13                  sczhou / ProPainter                   2            Python
14                coder2gwy / coder2gwy                   3                NA
15                     vercel / next.js                   5        JavaScript
16                    meshery / meshery                   5                Go
17                     usememos / memos                   5                Go
18                  aiwaves-cn / agents                   5            Python
19      D4RK-R4BB1T / Dark-Web-Archives                   2               PHP
20                  hyperdxio / hyperdx                   2        TypeScript
21                         fmtlib / fmt                   5               C++
22             ripienaar / free-for-dev                   5              HTML
23            public-apis / public-apis                   5            Python
24                     zhudotexe / kani                   5            Python

In [96]:
df4.to_csv('Github_trending.csv', index=False)

# 5. Scrape the details of top 100 songs on billiboard.com.
## Url = https:/www.billboard.com/

You have to find the following details:
    
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [39]:
# opening chrome driver
driver = webdriver.Chrome()
url5 = 'http://www.billboard.com/'

driver.get(url5)
time.sleep(1)

In [41]:
element = driver.find_element(By.XPATH, "//button[contains(@class, 'js-MegaMenu-Trigger')]")
element.click()

In [42]:
hot_100 = driver.find_element(By.XPATH, "//a[contains(@href, '/charts/hot-100/') and contains(text(), 'Hot 100')]")
hot_100.click()

In [44]:
#for serial number
# //span[@class="c-label  a-font-primary-bold-l u-font-size-32@tablet u-letter-spacing-0080@tablet"]
#for 1st name
# song name:
# artist name:

#From 2nd-100
#song name : //h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]
# Artist name: //span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]

# last week & Week on b ://li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]
#slipt it into 2 parts

#2nd part of it is peak rank
# peak rank

In [71]:
# intialize varibles list
Song_Name =[]
Artist_name=[]


# exception for 1st one
sn1 = driver.find_element(By.XPATH, "//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']").text
Song_Name.append(sn1)

s1 = driver.find_element(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"]').text
Artist_name.append(s1)


# from 2-100


#scraping the Song_Name 
sn=driver.find_elements(By.XPATH, ' //h3[@class="c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"]')
for i in sn:
    if i.text is None :
        Song_Name.append("--") 
    else:
        Song_Name.append(i.text)


#scraping the Artist Name
an=driver.find_elements(By.XPATH, '//span[@class="c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"]')
for i in an:
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text)

print(len(Song_Name),Song_Name)
print(len(Artist_name),Artist_name)

100 ['Vampire', 'Paint The Town Red', 'I Remember Everything', 'Fast Car', 'Cruel Summer', 'Last Night', 'Bad Idea Right?', 'Snooze', 'Fukumean', 'Dance The Night', 'Get Him Back!', 'Calm Down', 'All-American Bitch', 'Bongos', 'Barbie World', 'The Grudge', 'Flowers', 'All My Life', 'Making The Bed', 'Logical', 'Religiously', 'Rich Men North Of Richmond', 'Lacy', 'Ballad Of A Homeschooled Girl', 'Love Is Embarrassing', 'Used To Be Young', "Thinkin' Bout Me", 'Need A Favor', 'Kill Bill', "Pretty Isn't Pretty", 'Anti-Hero', 'What Was I Made For?', 'Peaches & Eggplants', 'Hey Driver', "Creepin'", 'Karma', 'Meltdown', 'Dial Drunk', 'Teenage Dream', 'Watermelon Moonshine', 'I Know ?', 'Qlona', 'Try That In A Small Town', 'Seven', 'Tourniquet', 'What It Is (Block Boy)', 'Single Soon', 'Daylight', 'Love You Anyway', 'Bury Me In Georgia', 'Slow Dancing', 'Spotless', 'Lady Gaga', 'Mi Ex Tenia Razon', 'East Side Of Sorrow', 'Save Me', 'LaLa', 'Good Good', 'In Your Love', 'Bipolar', 'White Horse', 'Last Time I Saw You', 'Telekinesis', 'FE!N', 'Popular', 'SkeeYee', 'Everything I Love', 'Que Onda', "Angels Don't Always Have Wings", 'Lose Control', 'Deli', 'Tulum', 'Truck Bed', 'Sabor Fresa', "Fear And Friday's", 'El Dorado', 'Johnny Dang', 'Oh U Went', 'Put It On Da Floor Again', 'Where She Goes', 'Ticking', "Summertime's Close", 'Dawns', 'Oklahoma Smoke Show', 'Call Your Friends', 'Overtime', 'Pretty Little Poison', 'Come See Me', 'El Amor de Su Vida', 'Holy Roller', 'Girl In Mine', 'Smaller Acts', 'Fight The Feeling', 'K-POP', 'Summer Too Hot', 'Lagunas', "Sittin' On Top Of The World", 'Rubicon', 'TQM', 'Amargura']
100 ['Olivia Rodrigo', 'Doja Cat', 'Zach Bryan Featuring Kacey Musgraves', 'Luke Combs', 'Taylor Swift', 'Morgan Wallen', 'Olivia Rodrigo', 'SZA', 'Gunna', 'Dua Lipa', 'Olivia Rodrigo', 'Rema & Selena Gomez', 'Olivia Rodrigo', 'Cardi B & Megan Thee Stallion', 'Nicki Minaj & Ice Spice With Aqua', 'Olivia Rodrigo', 'Miley Cyrus', 'Lil Durk Featuring J. Cole', 'Olivia Rodrigo', 'Olivia Rodrigo', 'Bailey Zimmerman', 'Oliver Anthony Music', 'Olivia Rodrigo', 'Olivia Rodrigo', 'Olivia Rodrigo', 'Miley Cyrus', 'Morgan Wallen', 'Jelly Roll', 'SZA', 'Olivia Rodrigo', 'Taylor Swift', 'Billie Eilish', 'Young Nudy Featuring 21 Savage', 'Zach Bryan Featuring The War And Treaty', 'Metro Boomin, The Weeknd & 21 Savage', 'Taylor Swift Featuring Ice Spice', 'Travis Scott Featuring Drake', 'Noah Kahan With Post Malone', 'Olivia Rodrigo', 'Lainey Wilson', 'Travis Scott', 'Karol G & Peso Pluma', 'Jason Aldean', 'Jung Kook Featuring Latto', 'Zach Bryan', 'Doechii Featuring Kodak Black', 'Selena Gomez', 'David Kushner', 'Luke Combs', 'Kane Brown', 'V', 'Zach Bryan Featuring The Lumineers', 'Peso Pluma, Gabito Ballesteros & Junior H', 'Karol G', 'Zach Bryan', 'Jelly Roll With Lainey Wilson', 'Myke Towers', 'Usher, Summer Walker & 21 Savage', 'Tyler Childers', 'Peso Pluma x Jasiel Nunez x Junior H', 'Chris Stapleton', 'Nicki Minaj', 'Travis Scott Featuring SZA & Future', 'Travis Scott Featuring Playboi Carti', 'The Weeknd, Playboi Carti & Madonna', 'Sexyy Red', 'Morgan Wallen', 'Calle 24 x Chino Pacas x Fuerza Regida', 'Thomas Rhett', 'Teddy Swims', 'Ice Spice', 'Peso Pluma & Grupo Frontera', 'HARDY', 'Fuerza Regida', 'Zach Bryan', 'Zach Bryan', 'That Mexican OT, Paul Wall & DRODi', 'Young Thug Featuring Drake', 'Latto Featuring Cardi B', 'Bad Bunny', 'Zach Bryan', 'Zach Bryan', 'Zach Bryan Featuring Maggie Rogers', 'Zach Bryan', 'Rod Wave', 'Zach Bryan', 'Warren Zeiders', 'Rod Wave', 'Grupo Frontera & Grupo Firme', 'Zach Bryan Featuring Sierra Ferrell', 'Parmalee', 'Zach Bryan', 'Rod Wave', 'Travis Scott, Bad Bunny & The Weeknd', 'Chris Brown', 'Peso Pluma & Jasiel Nunez', 'Burna Boy', 'Peso Pluma', 'Fuerza Regida', 'Karol G']

In [69]:
#scraping the Last_Week Rank & Weeks on board
Last_Week=[]
Weeks_on_board=[]

temp = []
lwr=driver.find_elements(By.XPATH,'//li[@class="o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max"]')
for i in lwr:
    if i.text is None :
        temp.append("--") 
    else:
        temp.append(i.text)
        
# spliting into respective groups

for i, value in enumerate(temp):
    if i % 2 == 0:
        Last_Week.append(value)
    else:
        Weeks_on_board.append(value) 
print("Last Week:", Last_Week)
print("Weeks on Board:", Weeks_on_board)

Last Week: ['9', '1', '2', '3', '4', '5', '26', '7', '8', '6', '-', '10', '-', '-', '12', '-', '13', '14', '-', '-', '15', '11', '-', '-', '-', '16', '19', '18', '21', '-', '20', '22', '51', '17', '25', '24', '27', '28', '-', '33', '34', '31', '30', '37', '29', '41', '39', '42', '32', '36', '-', '35', '47', '43', '40', '79', '44', '58', '65', '-', '57', '23', '50', '54', '66', '67', '64', '61', '73', '81', '60', '71', '59', '70', '48', '49', '75', '76', '68', '72', '52', '53', '77', '80', '97', '55', '87', '56', '93', '69', '92', '63', '-', '74', '94', '-', '86', '95', '89', '91']
Weeks on Board: ['11', '6', '3', '25', '19', '33', '5', '40', '13', '16', '1', '54', '1', '1', '12', '1', '35', '18', '1', '1', '19', '5', '1', '1', '1', '3', '28', '24', '40', '1', '47', '9', '15', '3', '41', '27', '7', '13', '1', '12', '7', '5', '9', '9', '3', '19', '3', '22', '31', '18', '1', '3', '12', '5', '3', '13', '10', '5', '7', '1', '8', '2', '7', '7', '15', '2', '29', '2', '8', '5', '8', '11', '13', '12', '3', '3', '9', '12', '15', '17', '3', '3', '20', '8', '4', '3', '5', '2', '4', '3', '7', '3', '19', '8', '4', '9', '3', '11', '17', '5']

In [85]:
# Find all elements with the class name 'o-chart-results-list__item'
elements = driver.find_elements(By.CLASS_NAME, "o-chart-results-list__item")

# Initialize a list to store the PEAK POS values
peak_pos_list = []

# Loop through the elements and extract the PEAK POS value
for element in elements:
    try:
        # Use additional filters to narrow down the selection
        if "a-chart-bg-color" in element.get_attribute("class"):
            peak_pos = element.find_element(By.CLASS_NAME, "c-label").text.strip()
            peak_pos_list.append(peak_pos)
    except:
        # Handle the case where the element does not contain the PEAK POS
        #peak_pos_list.append("-")
        pass

In [88]:
Peak_rank=[]
for i, value in enumerate(peak_pos_list):
    if i % 2 == 0:
        Peak_rank.append(value)
Peak_rank

['1',
 '1',
 '1',
 '2',
 '3',
 '1',
 '7',
 '7',
 '4',
 '6',
 '11',
 '3',
 '13',
 '14',
 '7',
 '16',
 '1',
 '2',
 '19',
 '20',
 '14',
 '1',
 '23',
 '24',
 '25',
 '8',
 '9',
 '14',
 '1',
 '30',
 '1',
 '14',
 '33',
 '14',
 '3',
 '2',
 '3',
 '25',
 '39',
 '33',
 '11',
 '28',
 '1',
 '1',
 '20',
 '41',
 '19',
 '40',
 '15',
 '34',
 '51',
 '17',
 '35',
 '22',
 '18',
 '56',
 '43',
 '58',
 '43',
 '60',
 '31',
 '23',
 '26',
 '5',
 '43',
 '66',
 '14',
 '61',
 '69',
 '70',
 '41',
 '43',
 '55',
 '26',
 '24',
 '31',
 '65',
 '19',
 '13',
 '8',
 '29',
 '23',
 '42',
 '80',
 '26',
 '22',
 '59',
 '56',
 '82',
 '37',
 '91',
 '38',
 '16',
 '7',
 '93',
 '77',
 '80',
 '63',
 '34',
 '85']

In [92]:
df7 = pd.DataFrame({
    'Song_Name': Song_Name,
    'Artist_name': Artist_name,'Last Week rank': Last_Week,'Peak rank':Peak_rank, 'Week on Board':Weeks_on_board })
df7.to_csv('top _100_songs.csv',index=False)
df7

,Song_Name,Artist_name,Last Week rank,Peak rank,Week on Board
0,Vampire,Olivia Rodrigo,9,1,11
1,Paint The Town Red,Doja Cat,1,1,6
2,I Remember Everything,Zach Bryan Featuring Kacey Musgraves,2,1,3
3,Fast Car,Luke Combs,3,2,25
4,Cruel Summer,Taylor Swift,4,3,19
...,...,...,...,...,...
95,Lagunas,Peso Pluma & Jasiel Nunez,-,77,9
96,Sittin' On Top Of The World,Burna Boy,86,80,3
97,Rubicon,Peso Pluma,95,63,11
98,TQM,Fuerza Regida,89,34,17
99,Amargura,Karol G,91,85,5

# 6. Scrape the details of Highest selling novels

## Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare
    
    You have to find the following details:
        
        A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [15]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Send an HTTP GET request to the URL
url = "https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare"
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')

# Find the first table in the HTML
table = soup.find('table')

# Create an empty list to store table data
data = []

# Iterate through the rows of the table and extract data
for row in table.find_all('tr'):
    row_data = [cell.get_text(strip=True) for cell in row.find_all(['th', 'td'])]
    data.append(row_data)

# Create a DataFrame from the extracted data
df = pd.DataFrame(data[1:], columns=data[0])


# Drop the first row (index 0) from the DataFrame
df = df.drop(0)

# Save the DataFrame to a CSV file
df.to_csv("Highest_selling_novels.csv", index=False)

# Display the DataFrame
df

,Rank,Title,Author,Volume Sales,Publisher,Genre
1,1,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
2,2,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
3,3,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
4,4,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
5,5,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...,...
96,96,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
97,97,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
98,98,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
99,99,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
100,100,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 7. Scrape the details most watched tv series of all time from imdb.com.
## Url = https://www.imdb.com/list/ls095964455/ 
    
You have to find the following details:

A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [23]:
# opening chrome driver
driver = webdriver.Chrome()
url7 = 'https://www.imdb.com/list/ls095964455/'
driver.get(url7)
time.sleep(1)

# Scroll down to the "Load More" button and click it until all TV series are loaded
while True:
    try:
        load_more_button = driver.find_element(By.XPATH, "//button[@class='ipl-load-more__button']")
        load_more_button.click()
        time.sleep(2)  # Wait for the content to load
    except:
        break  # Break the loop when no more "Load More" button is found

# Create empty lists to store data
names = []
year_spans = []
genres = []
runtimes = []
ratings = []
votes = []

# Extract details for each TV series
tv_series_elements = driver.find_elements(By.XPATH, "//div[@class='lister-item-content']")
for tv_series_element in tv_series_elements:
    name = tv_series_element.find_element(By.XPATH, ".//h3/a").text
    year_span = tv_series_element.find_element(By.XPATH, ".//span[@class='lister-item-year text-muted unbold']").text
    genre = tv_series_element.find_element(By.XPATH, ".//span[@class='genre']").text
    runtime = tv_series_element.find_element(By.XPATH, ".//span[@class='runtime']").text
    rating = tv_series_element.find_element(By.XPATH, ".//span[@class='ipl-rating-star__rating']").text
    
    # Handling the "Votes" element
    try:
        vote = tv_series_element.find_element(By.XPATH, ".//span[@name='rk']").get_attribute("data-value")
    except:
        vote = None

    names.append(name)
    year_spans.append(year_span)
    genres.append(genre)
    runtimes.append(runtime)
    ratings.append(rating)
    votes.append(vote)

# Create a DataFrame to store the scraped data
data = {
    "Name": names,
    "Year Span": year_spans,
    "Genre": genres,
    "Run Time": runtimes,
    "Ratings": ratings,
    "Votes": votes
}
df = pd.DataFrame(data)

# Save the DataFrame to a CSV file
df.to_csv("imdb_tv_series.csv", index=False)

# Close the WebDriver
driver.quit()

df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,None
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,None
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,None
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,None
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,None
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.5,None
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,None
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,None
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,None
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,None


 # 8. Details of Datasets from UCI machine learning repositories.
## Url = https://archive.ics.uci.edu/

You have to find the following details:
    
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [114]:
# opening chrome driver
driver = webdriver.Chrome()
url8 = 'https://archive.ics.uci.edu/'
driver.get(url8)
time.sleep(1)

In [115]:
# Navigating to Dataset page

# Find and click the by its text content
trending_link = driver.find_element(By.LINK_TEXT, "VIEW DATASETS")
trending_link.click()

In [116]:
Dataset_Name=[]
Data_Type=[]
Task=[]
Attribute_Type=[]
No_of_Instances=[]
No_of_Attribute=[]
Year=[]

In [ ]:
#Cell or Box that contains every information : [//div[@class="relative col-span-8 sm:col-span-7"]

#Data_name : //a[@class="link-hover link text-xl font-semibold"]
#Task : //p[@class="truncate"]

#Data_type :
#Attribute_type(feature type) :
#No_of_instance :
#No_of_Attribute(Featurers):

In [151]:
# Initialize empty lists to store data
Dataset_Name = []
summary = []
Task = []
Data_Type = []
No_of_Instances = []
No_of_Attribute = []

for i in range(0,25):
    
    f_a = []
    four_attr= driver.find_elements(By.XPATH, '//div[@class="relative col-span-8 sm:col-span-7"]')
    for i in four_attr:
        if i.text is None :
            f_a.append("--") 
        else:
            f_a.append(i.text)

    # Loop through each data string
    for data_string in f_a:
        # Split the string by '\n' to separate the information
        data_list = data_string.split('\n')

        # Check if the data string has all the required elements
        if len(data_list) >= 6:
            Dataset_Name.append(data_list[0])
            summary.append(data_list[1])
            Task.append(data_list[2])
            Data_Type.append(data_list[3])
            No_of_Instances.append(data_list[4])
            No_of_Attribute.append(data_list[5])
        else:
            # Handle incomplete data strings, e.g., by appending placeholders or skipping
            Dataset_Name.append("N/A")
            summary.append("N/A")
            Task.append("N/A")
            Data_Type.append("N/A")
            No_of_Instances.append("N/A")
            No_of_Attribute.append("N/A")
            
    next_page_button = driver.find_element(By.XPATH, "//button[@aria-label='Next Page']")
    next_page_button.click()
    time.sleep(2)

In [154]:

# Remove " Instances" and " Features" text
No_of_Instances = [count.replace(" Instances", "") for count in No_of_Instances]
No_of_Attribute = [count.replace(" Features", "") for count in No_of_Attribute]

# Create a DataFrame
df8 = pd.DataFrame({
    'Dataset_Name': Dataset_Name,
    'Data_Type': Data_Type,
    'Task': Task,
    'No_of_Instances': No_of_Instances,
    'No_of_Attribute': No_of_Attribute,
    'summary': summary,
})
df8.to_csv('UCI_dataset.csv', index = False)
# Display the DataFrame
df8

,Dataset_Name,Data_Type,Task,No_of_Instances,No_of_Attribute,summary
0,Iris,Tabular,Classification,150,4,"A small classic dataset from Fisher, 1936. One..."
1,Heart Disease,Multivariate,Classification,303,13,"4 databases: Cleveland, Hungary, Switzerland, ..."
2,Adult,Multivariate,Classification,48.84K,14,Predict whether income exceeds $50K/yr based o...
3,Dry Bean Dataset,Multivariate,Classification,13.61K,16,"Images of 13,611 grains of 7 different registe..."
4,N/A,N/A,N/A,N/A,N/A,N/A
...,...,...,...,...,...,...
620,Thyroid Disease,"Multivariate, Domain-Theory",Classification,7.2K,5,10 separate databases from Garavan Institute
621,Predict students' dropout and academic success,Tabular,Classification,4.42K,36,A dataset created from a higher education inst...
622,Spambase,Multivariate,Classification,4.6K,57,Classifying Email as Spam or Non-Spam
623,Student Performance,Multivariate,"Classification, Regression",649,33,Predict student performance in secondary educa...
624,Credit Approval,Multivariate,Classification,690,15,This data concerns credit card applications; g...